
html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #07285F;
    font-family: Arial, sans-serif;
}
footer {
	width: 100%;
	background-color: rgb(255, 151, 210);
}

header {
    width: 100%;
    background-color: #7c7c7c;
    padding: 20px 0;
    position: relative;
}


.header__top {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap; 
    position: relative;
}

.logo-container {
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    margin-right: 20px; 
}

.name {
    text-align: center;
    font-size: 2em;
    margin: 0;
    color: white;
}


.header__nav {
    position: absolute; 
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
}

.head__list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.head__item a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}


@media screen and (max-width: 768px) {
 
    .header__top {
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-wrap: nowrap;
    }


    .name {
        text-align: center;
        margin-top: 0;
    }

   
    .logo-container {
        position: static; 
        margin-right: 20px; 
    }

    .header__nav {
        position: static; 
        margin-top: 20px;
        text-align: center;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .head__list {
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    .head__item a {
        font-size: 18px;
    }
}

/* Стили для основного контента */
main {
    background-color: #3CD0FA;
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

/* Стили для таблиц */
table {
    width: 40%;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 2px solid black;
    padding: 10px;
    font-size: 18px;
}

th {
    background-color: white;
}

td:nth-child(odd) {
    background-color: #1FD5E6;
    color: #5F310D;
}

td:nth-child(even) {
    background-color: #3704E1;
    color: #1CE823;
}
button {
    padding: 10px;
    background-color: #7c7c7c;
    color: #fff;

}
